* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

/* classes générales */

h1 {
    font-family: "Shrikhand", cursive;
}

.colorblack {
    color: black;
}

.colorprim {
    color: #9356DC;
}

.colorsecond {
    color: #FF79DA;
}

.colortert {
    color: #99E2D0;
}

.colorgrey {
    color: grey;
}

.colorwhite {
    color: white;
}

.backprim {
    background-color: #9356DC;
}

.backsecond {
    background-color: #FF79DA;
}

.backtert {
    background-color: #99E2D0;
}


.backgrey {
    background-color: #F6F6FF;
}

.textcenter {
    text-align: center;
}

.flexcentre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexaround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexbetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexcolumncenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexcolumnaround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flexstart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flexcolumnstart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* classes détaillées */
.container {
    width: 100%;
    margin: 0 auto;

}

.loader{
    -webkit-animation: spin 1s linear infinite alternate;
    -o-animation: spin 1s linear infinite alternate;
    animation: spin 1s linear infinite alternate;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    border-left: 10px solid #9356DC;
    border-right: 10px solid #99E2D0;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    
    
}

/* animation loader */
@keyframes spin{
    0%{
        -webkit-transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.loader::after{
    display: none;
}
    
    


.logo {
    box-shadow: 0px 1px 0px 0px #f3f3f3;
    margin-top: 0;
    margin-bottom: 0.1rem;
    border: none;
    height: 50px;
}

.icon {
    font-size: 18px;
    margin-right: 10px;
}

.location {
    font-size: 14px;
    font-weight: bold;
}

.sizeexplor {
    padding-bottom: 20px;
    background-color: #f3f3f3;
}

.explor {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    font-size: 26px;

}

.sizeexplor>p {
    font-size: 18px;
    font-weight: inherit;
}

.btnexplor {
    /* display: block; */
    color: white;
    font-weight: 600;
    margin: auto;
    height: 50px;
    border: none;
    background-image: linear-gradient(#FF79DA, #9356DC);
    border-radius: 30px;
    box-shadow: 2px 1px 16px -1px grey;
    width: 50%;
    font-size: 12px;
    padding: 1%;
    cursor: pointer;
    text-decoration: none;
}

.btnexplor:hover {
    box-shadow: 4px 3px 20px -3px gray;;
    background-image: linear-gradient(#FF79DA,#e6add6 );
    transform: scale(1.02)
}

#fonction {
    height: auto;
    margin-left: 15px;
}

.sizeblocbtn {
    height: auto;
    width: auto;
    margin-left: -10px;
    margin-top: 30px;
    position: relative;
    left: -20px;
}

.btn123 {
    height: 50px;
    width: auto;
    box-shadow: 1px 1px 10px -1px grey;
    border-radius: 25px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 20px;
    position: relative;
}

.iconnum {
    height: 20px;
    width: 20px;
    border-radius: 25px;
    font-size: 14px;
    background-color: #9356DC;
    color: white;
    font-weight: 400;
    position: absolute;
    left: -10px;
}

.icontel,
.iconlist {
    height: 20px;
    width: 20px;
    color: grey;
    position: absolute;
    left: 20px;
    font-size: 16px;
    padding-top: 0.3%;
}

.iconshop {
    height: 20px;
    width: 20px;
    color: #9356DC;
    position: absolute;
    left: 16px;
    font-size: 16px;
    padding: 1%;
}

.textbtn123 {
    position: absolute;
    left: 60px;
    font-weight: bold;
}

#blocresto {
    height: auto;
    margin-top: 50px;


}

.titreresto {
    margin-bottom: 20px;
    margin-left: 20px;
    padding-top: 20px;
}

.sizeblocimg {
    height: auto;
    min-width: 60%;
    margin-right: 10px;
    border-radius: 10px;
}

.cardresto {
    height: 150px;
    border-radius: 20px;  
}


.imgresto {
    width: 85%;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px 15px 0 0;
    position: absolute;
    cursor: pointer;
    margin-left: 25px;
}

.alertnew {
    height: 30px;
    width: 25%;
    color: #0f9775;
    position: relative;
    right: -220px;
    align-items: center;
    text-align: center;
    font-size: 14px;
    line-height: inherit;
    font-weight: bold;
    padding-top: 5px;
}

.detailresto {
    width: 85%;
    height: 70px;
    padding-left: 20px;
    margin-left: 25px;
    background-color: white;
    margin-bottom: 40px;
    line-height: 1.2;
    border-radius: 0px 0 15px 15px;
}

.titredetailresto {
    font-size: 12px;
    line-height: 0;
    margin-bottom: 0;
}

.heart1 {
    position: relative;
    top: -10px;
    right: -220px;
    line-height: 1em;
    font-size: 16px;
    color: gray;
    
}

.heart1:hover {
    overflow: hidden;
    

    /* color: #9356DC;
    transform: scale(1.05); */
}

.heart2{
    display: block;
    position: relative;
    top: -10px;
    right: -220px;
    line-height: 1em;
    font-size: 16px;
    visibility:hidden;
    cursor: pointer;
}
.heart2:hover{
    visibility:visible;
}

.detailresto p {
    line-height: 0;
    font-size: 12px;
}

.footer {
    height: 200px;
    background-color: rgb(65, 64, 64);
    color: white;
}

.titrefooter {
    font-size: 18px;
    font-weight: 400;
    padding-left: 35px;
}

.sizeliensfooter {
    height: 30px;
    list-style-type: none;
}

.liensfooter1, .liensfooter2, .liensfooter {
    color: white;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    list-style-type: none;
}

.liensfooter1{
    margin-left: 15px;
}

.liensfooter2 {
    margin-left: 10px;
}






/* responsive */

@media screen and (min-width: 768px) {
    .sizeblocbtn{
        display:flex;
        justify-content:space-between;
        align-items: center;

    }
    .btn123{
        width: 220px;
        font-size: 12px;
    }

    .textbtn123{
        position: relative;
    }

    #blocrest{
        display: block;
    }
}


@media screen and (max-width: 1280px) {}